
// == COLORS & BACKGROUNDS =====================================================

$gray-100: #f5f5f5
$gray-700: #616161
$gray-800: #424242
$gray-900: #212121

$yellow:     #fdf485
$red:        #ff4040
$blue:       #4ae
$green:      #61c227

$color:           $gray-700
$bg-color:        $gray-100
$link-color:      $blue


//== GRID ======================================================================

$baseline-grid-color: $red


//== TYPE ======================================================================

$body-font-family:    "Roboto", sans-serif
$heading-font-family: $body-font-family


//== LAYOUT ====================================================================

$baseline: 8px


//== UI COMPONENTS =============================================================

// $radius: 6px
